body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:medium;
}

h1{
    width:40%;
    color:#FF9E07;

}

hr{
    width:40%;
    text-align:left;
}

table{
    margin-top:3em;
}

table tr th{
    background-color:#FF9E07;
    color:white;
    border:solid 2px #905800;
}

table tr td{
    border:solid 2px #905800;
    padding:4px 4px 4px 4px;
}

.list{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:medium;
}
